@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #fefefe;
  --text: #1f2937;
}

.dark {
  --bg: #121212;
  --text: #e5e7eb;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
